#app {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app .grid-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app .grid-wrapper .scroll-bar-y {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#app .grid-wrapper .scroll-bar-x {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

#app .grid-wrapper .scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}