html, body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
	padding: 0;
	margin: 0;
}

#app {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid {
	width: 100%;
	height: 100%;
}

.grid-body {
	height: 1293px;
}

div {
	box-sizing: border-box;
}

.head-top {
  display: flex;
  width: 100%;
}

.head-left {
	overflow: hidden;
}

.head-top-content {
	display: flex;
	overflow: hidden;
}

.head-top-item, .head-left-item {
  padding-left: 5px;
  padding-right: 5px;
}

.head-top-item {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.head-left-item {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.head-left-item, .item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.item {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align:right;
	padding-right: 8px;
}

.row {
	display: flex;
}

.content {
  flex: 1;
  overflow: auto;
}

.item-content {
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
}

.corner {
	border: 1px solid #ddd;
}

.grid-body {
  display: flex;
  overflow: hidden;
}
